<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">




    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".MyApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoPieTheme" tools:targetApi="28">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AutoPieTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareReceiverActivity"
            android:excludeFromRecents="true"
            android:label="Automate With"
            android:noHistory="true"
            android:exported="true"
            android:background= "#00ffffff"
            android:theme="@style/ShareTheme"
            >


            <!-- Accept multiple file types when sending. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <!-- Accept multiple file types when sharing. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".terminal.TerminalEmulatorActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
            android:name=".DirectCommandActivity"
            android:excludeFromRecents="true"
            android:label="Run from Icon"
            android:noHistory="false"
            android:exported="true"
            android:theme="@style/ShareTheme"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.direct"
        >
        </activity>
        <activity
            android:name=".OutputViewerActivity"
            android:excludeFromRecents="true"
            android:label="View the output logs"
            android:noHistory="false"
            android:exported="true"
            android:theme="@style/ShareTheme"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}.direct"
            >
        </activity>
        <service
            android:name=".autopieapp.data.services.FileObserverJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".autopieapp.data.services.ForegroundService"
            android:exported="false" />
        <receiver android:name=".autopieapp.data.services.ScreenStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
        <receiver android:name=".autopieapp.data.services.ProcessBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.SHOW_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.CANCEL_NOTIFICATION" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.CANCEL_PROCESS" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.PLAY_MEDIA" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name=".PackagesProvider"
            android:authorities="${applicationId}.packages"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>
        <provider
            android:name=".CommandsProvider"
            android:authorities="${applicationId}.commands"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>
        <provider
            android:name=".ProcessStatusProvider"
            android:authorities="${applicationId}.process"
            android:exported="true"
            android:grantUriPermissions="true">
        </provider>
    </application>

</manifest>